nav {
    color: #fff;
    background-color: #116d64 !important; 
}
h3 {
    font-weight: 300;
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: -1px;
}
.col.m6.new-user {
    text-align: right;
    margin-top: 20px;
}
table.striped>tbody>tr:nth-child(odd) {
    background-color: #116d6417;
}
.container.login {
    text-align: center;
    width: 40%;
    background: white;
    padding: 41px;
    box-shadow: 0 0 10px #c1c1c1;
    margin-top: 5%;
}
@media only screen and (max-width: 992px){
    .hide-on-med-and-down {
        display: block !important;
    }
}