<body>
    <form action="create" method="post">
        <h1>Crear Usuario</h1>

        <label for="email">Usuario:</label>
        <input type="text" class="" name="email" id="email">

        <label for="Password">Contraseña:</label>
        <input type="password" class="" name="password" id="password">

        <div>
            <a href="/users"><button type="button">Atrás</button></a>
            <button type="submit">Crear</button>
        </div>
    </form>
</body>